# Ignore .env file in the backend directory
backend/.env

# Ignore node_modules and package-lock.json in the frontend directory
frontend/node_modules/
frontend/package-lock.json

# Ignore node_modules and package-lock.json in the backend directory
backend/node_modules/
backend/package-lock.json

# Ignore Dialogflow key file
backend/keys/dialogflow-key.json

# Ignore Vercel files
.vercel

# Ignore Python environment and cached files
backend/ai-models/myenv/
backend/ai-models/**/*.pyd
backend/ai-models/**/*.dll
backend/ai-models/**/*.lib
.venv/
__pycache__/
*.pyc 
*.pyo 
# Ignore frontend build files
frontend/build/

# Ignore log files
*.log

myenv/